@import "cssReset";

/*VARIABLES*/
$yellow: #F8D45A;
$green: #899E39;
$grey: #F4F1EA;
$black: #2A2A2A;


/*RESET*/
*,
*::after,
*::before {
    box-sizing: border-box;
    // outline: 1px solid;
}

button,
select,
input {
    appearance: none;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 70px;

    background: {
        image: url("https://hexschool.github.io/js-filter/assets/bg.jpg");
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
        position: left top;
    }
}




.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 12px;
}

img {
    mix-blend-mode: darken;
    margin: 24px 0;

    &.logo-small {
        display: none;
    }

    @media (max-width: 495px) {
        &.logo-big {
            display: none;
        }

        &.logo-small {
            display: block;
            margin: 32px auto 24px;

        }
    }
}


main {
    background: white;
    box-shadow: 0 0 0 3px $yellow, 0 0 0 8px white, 0 2px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 40px;
    min-height: 600px;

    @media (max-width: 495px) {
        padding: 16px 12px;
        min-height: 512px;
    }
}

.filterBTNs {
    display: flex;
    justify-content: center;
    max-width: 362px;
    margin: 0 auto;

    .btn-filter:nth-child(2) {
        margin: 0 10px;

        @media (max-width: 495px) {
            margin: 0 6px;
        }
    }
}

.searchArea {
    display: flex;
    justify-content: center;
    margin: 20px auto 32px;
    max-width: 570px;

    label {
        background: $green;
        border: 2px solid $green;
        border-radius: 4px 0 0 4px;
        color: white;
        height: 40px;
        padding: 10px;
        flex-shrink: 0;
    }

    input {
        border-radius: 0 4px 4px 0;
        border: 2px solid $green;
        font-weight: 300;
        height: 40px;
        padding: 8px 15px;
        flex: 1;
    }

    button {
        margin-left: 12px;
    }

    @media (max-width: 495px) {
        display: block;
        margin: 8px auto 16px;


        label {
            display: inline-block;
            vertical-align: middle;

        }

        input {
            width: calc(100% - 88px);
        }

        button {
            margin-left: 0;
        }


    }
}

.selectFilterArea {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 18px;
        ;
    }

    .select-custom-selected,
    .select-custom-option>li {
        padding: 8px 25px 8px 16px;

    }

    .select-custom {
        position: relative;
        width: 140px;
        font-weight: 300;
        color: $black;
       
    }

    .select-custom-selected {
        border: 1px solid #9A9A9A;
        border-radius: 4px;
        background: white;
        cursor: pointer;

        &::before {
            position: absolute;
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg>');
            height: 20px;
            top: 5px;
            right: 5px;
        }

    }

    .select-custom-option {
        display: none;
        border: 1px solid $grey;
        background: white;
        position: absolute;
        top: 34px;
        z-index: 100;

        > {
            border-bottom: 1px solid $grey;
            user-select: none;
        }

        :hover {
            background: $grey;
        }
    }

    .openMenu {
        .select-custom-selected {
            &::before {
                position: absolute;
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><path d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"/></svg>');
                height: 20px;
                top: 8px;
                right: 5px;
            }
        }

        .select-custom-option {
            display: block;
        }
    }

    @media (max-width: 495px) {
        display: block;

        .select-custom {
            position: fixed;
            bottom: 12px;
            right: 12px;
            font-size: 24px;
            text-align: center;
            width: 120px;

            span{
                display: none;
            }
        }

        .select-custom-selected {
            position: relative;
            border-radius: 20px;
            z-index: 3;

        }

        .select-custom-option {
            top: -210px;
            left: 2px;
            z-index: 1;
            border-bottom: 15px solid white;
        }

    }
}

table {
    width: 100%;
    margin-top: 26px;

    thead {
        background: $grey;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        tr {
            display: flex;
            padding: 0 17px;
        }

        th {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 13px 0;
            flex: 1 0 0;
            cursor: pointer;

            // width: calc(1/7 * 100%);
            &:first-child,
            &:nth-child(2) {
                flex: 2 0 0;
            }



            .table-arrow {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 5px;

                i {
                    height: 10px;
                    margin-top: -5px;
                    color: gray;

                    &:nth-child(2) {
                        margin-top: -2px;
                    }

                    &.filterSelect {
                        color: $black;
                    }

                }


                @media(max-width: 495px) {
                    display: none;
                }

            }

        }

    }

    @media (max-width: 495px) {
        font-size: 12px;
        text-align: center;

        thead {
            span {
                display: none;
            }
            tr{
                padding: 0 8px;
            }

            th {

                display: table-cell;
                &:first-child,
                &:nth-child(2) {
                    flex: 1 0 0;
                }

            }
        }

    }

    tbody {
        tr {
            display: flex;
            border-bottom: 1px solid $grey;
            padding: 0px 17px;

            &:hover {
                background: $grey;
            }
        }

        td {
            font-weight: 300;
            flex: 1 0 0;
            // width: calc(1/7 * 100%);
            padding: 13px 0;

            &:first-child,
            &:nth-child(2) {
                font-weight: 700;
                flex: 2 0 0;
            }
        }
    }

    @media (max-width: 495px) {
        tbody {
            tr{
                padding: 0 8px;
            }
            td {

                &:first-child,
                &:nth-child(2) {
                    flex: 1 0 0;
                }
            }

        }
    }


    p {
        padding: 20px 0;
        border-bottom: 2px solid $grey;
        color: $black;
        font-weight: 300;
        text-align: center;
    }

}






/*ELEMENTS*/

.btn-filter {
    background: white;
    border: 2px solid $black;
    box-shadow: 0 1px 0 0 $black;
    border-radius: 4px;
    // max-width: 114px;
    height: 40px;
    flex: 1 1 114px;
}

.btn-search {
    background: $green;
    border: 2px solid $green;
    border-radius: 4px;
    width: 142px;
    height: 40px;
    color: white;

    @media (max-width: 495px) {
        width: 100%;
        margin: 8px 0 16px;
    }
}

.btn-filter-active,
.btn-filter:hover,
.btn-filter:active {
    background: $yellow;
}

.btn-search:active {
    transform: scale(0.9);
    box-shadow: inset 0 0 5px 2px adjust-color($color: $green, $saturation: -15%);
}
